        <div id="nav">
            <div id="navright">
                <ul>
                    {%- assign sorted_homes = site.homes | sort: 'position' -%}
                    {%- for home in sorted_homes %}
                    <li{% if home.url == page.url %} id="selected"{% endif %}><a href="{{ home.url }}"><b>{{ home.name | replace: 'Street','St' }}</b></a></li>
                    {%- endfor %}

                    {%- for link in site.data.navigation %}
                    <li{% if link.url == page.url %} id="selected"{% endif %}><a href="{{ link.url }}"><b>{{ link.text }}</b></a></li>
                    {%- endfor %}
                </ul>
            </div>
        </div>
